.response
  %h5
    = control_response.question.label
    - if current_user && current_user.can?(:control)
      %button{ onclick: '$(this).parent().next(".scrubber").toggleClass("is-visible")' } (scrub)
  .question.scrubber
    = render partial: 'shared/scrub_form', locals: scrub_vars_for(control_response) if current_user && current_user.can?(:control)

  - unless control_response.scrub.blank?
    .value.scrubbed!=control_response.scrubbed_value
  .value.original!=control_response.original_value
